= flash[:notice]
= form_tag("/homes/index") do
  .row
    .col-md-8
      .form-group
        = label_tag :name, "Full Name"
        = text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name"
  .row
    .col-md-8
      .form-group
        = label_tag :email, "Email Address"
        = text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email"
  = submit_tag "Request more information", class: "button sqs-system-button sqs-editable-button" , id: "request_button"