.landing_image
  = image_tag 'voicesLandingPage.png', class: "img-responsive", style: "position:relative"
  .buttons
    = link_to '//itunes.apple.com/us/app/congress-voices/id965692648?mt=8', target: '_blank' do
      = image_tag 'itunes-button.png', id: 'itunes-button', class: "img-responsive"
    = link_to '//play.google.com/store/apps/details?id=com.johnbogil.voices', id: 'google-play-button', target: '_blank' do
      = image_tag 'google-play-color.png', id: 'google-play-button', class: "img-responsive"

%section#page
  .space
    .container
      .row
        .col-lg-10.col-lg-push-1
          %h2#main_message
            Voices is a tool that makes advocacy groups and individuals more influential in government.
          .page-divider
          .hr
      .row
        .col-lg-8.col-lg-push-2
          %h2
            %strong
              Here's how it works
          %p#steps
            %strong
              Step 1  
          %p#info
            Advocacy groups use the Voices web app to compose and send calls to action to their members.

          %p#steps
            %strong
              Step 2
          %p#info
            Group members answer the call to action and participate directly in the policy process using the Voices mobile app.

          %p#steps
            %strong
              Step 3
          %p#info
            Advocacy groups receive data and insight about how users responded to their call to action. 
          %button#request_button.sqs-system-button.sqs-editable-button{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Request more information
          / Modal
          #myModal.modal.fade{:role => "dialog"}
            .modal-dialog
              .modal-content
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Name
                .modal-body
                  .row
                    .col-xs-6
                      %input.form-control{:placeholder => "First Name", :type => "text"}/
                    .col-xs-6
                      %input.form-control{:placeholder => "Last Name", :type => "text"}/
                  .row
                    .col-xs-8
                      %input.form-control{:placeholder => "Email Address", :type => "text"}/
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "submit"} Request more information